@import "tailwindcss";

.white {
  background-color: oklch(0.95 0.02 256.8); /* Light neutral shade */
  color: #1a1a1a; /* Dark text for readability */
}

.dark {
  background-color: oklch(0.15 0.05 264.67); /* Deeper dark blue-gray */
  color: #f1f1f1; /* Light text for contrast */
}


::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.3);
}
